.legend {
  max-height: 300px;
  // background: #fff;
  padding: 3px;
  overflow-y: scroll;
  border-radius: 2px;
}

.continuity {
  width: 150px;
  height: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexCenter {
  display: flex;
  align-items: center;
}

.legendColor {
  width: 30px;
  height: 10px;
  border: 1px solid #fff;
}

.legendValue {
  width: 30px;
  text-align: end;
}
